<div id="uploaded-file-for-replacing-ajax-form">
  <div><span>Filename: </span>{{ data.filename }}</div>
  <div><span>Href: </span>{{ data.href }}</div>
  <div><span>File: </span>{{ data.file }}</div>
  <div><span>Copies: </span>{{ data.copies }}</div>
  <div><span>Retention: </span>{{ data.retention }}</div>
  <div><span>Version: </span>{{ data.version }}</div>
</div>
